@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open-Sans', sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0.125rem 0.125rem 0.313rem rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 7%;
  display: inline-block;
}

header nav li a {
  color: black;
}

header nav li a:hover {
  color: #fafafa;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
  padding: 2.4rem 1.5rem 2.4rem 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 3rem 2rem 3rem 2rem;
}

nav li:hover {
  color: #fff;
  background-color: #dd5347;
  cursor: pointer;
  transition: 0.5s ease;
}

section {
  height: 100vh;
}

.home {
  background: url(../asset/home-hero.jpg)center / cover;
  color: #fafafa;
}

section h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 4rem;
  padding: 9% 60% 0 5%;
  font-weight: 300;
  font-size: 4.4rem;
}

section.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body main a {
  background-color: #dd5347;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin-left: 8%;
  padding: 2.4rem;
}

.form {
  font-size: 1.2rem;
  margin: 10% 0 0 39.5%;
  position: fixed;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 7%;
  text-align: center;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 30% 0 30%;
  font-size: 1.6rem;
}

fieldset {
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: 100rem;
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 2rem;
}

form label {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.75rem;
  border: 0.063rem solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 3rem;
}

form input[type="submit"] {
  background-color: #1a73e8;
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: inherit;
  width: max-content;
}

.scroll_btn {
  background-color: #dd5347;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  right: 2rem;
  bottom: 2rem;
  box-shadow: 0 0.5rem 0 0 #00000015;
}

h5 {
    position: fixed;
    font-family: 'Open Sans', sans-serif;;
    margin: 15% 0 0 31%;
    font-size: 4rem;
}

main img {
    width: 20%;
    height: 65%;
    margin: 20% 0 0 25%;
}

.success {
  text-align: center;
}