@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open-Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
}

header nav li a {
  color: black;
}

header nav li a:hover {
  color: #fafafa;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
  padding: 2rem 2rem 2rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  font-weight: 300;
  font-size: 1rem;
  padding: 2rem 2rem 2rem 2rem;
}

nav li:hover {
  color: white;
  background-color: #dd5347;
  cursor: pointer;
  transition: 0.5s ease;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home {
  background: url(../asset/home-hero.jpg)center / cover;
  color: #fafafa;
}

section h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin-left: 4rem;
  padding: 15% 55% 25% 4%;
}

body main a {
  background-color: #dd5347;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0 7%;
  padding: 2.5rem;
}

.scroll_btn {
  background-color: #dd5347;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  box-shadow: 0 10px 0 0 #00000015;
}