@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open-Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1.25rem;
  font-weight: 300;
  font-size: 0.875rem;
}

nav li:hover {
  color: white;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 1rem 0 1rem 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home {
  background: url(../asset/home-hero.jpg)center / cover;
  color: #fafafa;
}

section h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  margin-left: 4rem;
  padding: 15% 60% 4% 4%;
}